h1 {
    color: crimson
}
img {
    width: 400px;
}
#thirdDiv {
    background-color: darkgreen;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 12px outset darkmagenta;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}